.App {
  background-color: rgb(223, 237, 250);
  height: 1000px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.page {
  border-radius: 10px;
  text-align: center;
  max-width: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 350px;
}


