.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
}

.notifications-text {
    padding-top: 10px;
    font-size: 25px;
}

.notifications-text b {
    background-color: rgb(57, 10, 211);
    color: white;
    padding: 2px 9px 2px;
    border-radius: 7px;
    font-size: 18px;
    margin-left: 4px;
}

.mark-all-as-read-text {
    justify-content: end;
    margin-top: 35px;
    margin-right: 50px;
    font-size: 16px;
}

.mark-all-as-read-text:hover {
    color: rgb(23, 10, 211);
    cursor: pointer;
}